
html{
    scroll-behavior: smooth;
}


html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}



.wrap nav{
    display: block;
}


@media screen and (max-width: 1680px){
    .backg{
        background-size: 1500px auto;
        width: 4500px;
    }

    @-webkit-keyframes backg{
    0%{
        transform: translate3d(0,0,0);
    }
    
    100%{
        transform: translate3d(-1500px,0,0);
    }
  }
}


@media screen and (max-width: 1280px){
    .backg{
        background-size: 750px auto;
        width: 2250px;
    }
    
    @-webkit-keyframes backg{
    0%{
        transform: translate3d(0,0,0);
    }
    
    100%{
        transform: translate3d(-750px,0,0);
    }
  }
}


@media screen and (max-width: 736px){
    .backg{
        background-size: 300px auto;
        width: 900px;
    }
    
    @-webkit-keyframes backg{
    0%{
        transform: translate3d(0,0,0);
    }
    
    100%{
        transform: translate3d(-300px,0,0);
    }
  }
}


@media screen and (max-width: 480px){
    .backg{
        background-size: 412.5px auto;
        width: 1237.5px;
    }
    
    @-webkit-keyframes backg{
    0%{
        transform: translate3d(0,0,0);
    }
    
    100%{
        transform: translate3d(-412.5px,0,0);
    }
  }
}

.backg{
     animation-duration: 90s;
     animation-timing-function: linear;
     animation-delay: 0s;
     animation-iteration-count: infinite;
     animation-direction: normal;
     animation-fill-mode: none;
     animation-play-state: running;
     animation-name: backg;
     
     backface-visibility: hidden;
     transform: translate3d(0,0,0);
     background: url(images/city.jpg) bottom left;
     background-repeat: repeat-x;
     height: 100%;
     left: 0;
     opacity: 1;
     position: absolute;
     top: 0;
}

@-webkit-keyframes backg{
    0%{
        transform: translate3d(0,0,0);
    }
    
    100%{
        transform: translate3d(-2250px,0,0);
    }
}


.backg{
    background-size: 2250px auto;
    width: 6750px;
}


.wrap{
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: wrap;
    height: 100%;
    min-height: 100%;
    opacity: 0;
    position: relative;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    vertical-align: baseline;
}

@-webkit-keyframes wrap{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

.vector{
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: vector;
    background-image: url(images/colorvec2.jpg);
    background-repeat: repeat, no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    position: absolute;
}

@-webkit-keyframes vector{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 0.6;
    }
}


.intro{
    width: 100%;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 2.25s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: intro;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    cursor: default;
    opacity: 0;
}


@-webkit-keyframes intro{
    0%{
        transform: translate3d(0,1em,0);
        opacity: 0;
    }
    
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}


.info{
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 2.29s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: info;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    cursor: default;
    display: inline-block;
    opacity: 0;
    position: relative;
    text-align: center;
    top: -1em;
    vertical-align: middle;
    width: 90%;
}

@-webkit-keyframes info{
    0%{
        transform: translate3d(0,1em,0);
        opacity: 0;
    }
    
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.info h1{
    font-weight: 900;
    letter-spacing: -0.035em;
    line-height: 1em;
}

.info p{
    font-size: 1.5em;
    margin: 0.75em 0 0.25em 0;
    opacity: 0.75;
}

.info nav{
    margin: 1.5em 0 0 0;
}

ul{
    list-style: none;
}

.info nav li:nth-child(1){
    animation-delay: 2.5s;
}

.info nav li:nth-child(2){
    animation-delay: 2.75s;
}

.info nav li:nth-child(3){
    animation-delay: 3s;
}


.info nav li{
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: icons;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    display: inline-block;
    opacity: 0;
    position: relative;
    top: 0;
}

@-webkit-keyframes icons{
    0%{
        transform: translate3d(0,1em,0);
        opacity: 0;
    }
    
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.info nav a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border:0;
    display: inline-block;
    text-decoration: none;
}

.info nav ul{
    padding-top: 1px;
    padding-left: 0;
}


.info nav a:before{
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px #fff;
    display: block;
    font-size: 1.75em;
    height: 2.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2.5em;
}

.info nav i:hover{
    font-size: 2.2em;
    border-color: transparent;
    text-decoration: none;
    color: #18bfef !important;
}

.icon:hover{
    color: #18bfef !important;
}


.info nav i {
    font-size: 1.7em;
}



.icon{
    text-decoration: none;
    position: relative;
    color: white;
}



.wrap footer{
    margin: 0;
    width: 90%;
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 5%;
    bottom: 0;
    
    /*animation*/
    
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 3.25s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: footer;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    cursor: default;
    opacity: 0;
}


@-webkit-keyframes footer{
    0%{
        transform: translate3d(0,1em,0);
        opacity: 0;
    }
    
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}


.wrap footer:after{
    content: '';
    display: block;
    position: relative;
    bottom: inherit;
    left: 50%;
    height: 3em;
    border-left: solid 2px #e5e6e7;
}

.to-personal{
    position: relative;
    display: inline-block;
    border: solid 2px #e5e6e7;
    border-radius: 100%;
    background-color: transparent;
    width: 4em;
    height: 4em;
    line-height: 4.5em;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: #e5e6e7;
}

.to-personal:hover {
    background-color: rgba(255, 255, 255, 0.177);
    color: #4d4d4d;
}


.person-desc{
    align-self: center;
    margin: auto;
    font-size: 100%;
}

.person-desc h2{
    font-family: 'Source Sans Pro', sans-serif;
}
 
.person-desc p{
    font-family: 'Merriweather', serif;
    text-align: justify;
}

.profile-info{
    border-bottom: solid 1px #eeeeee;
    height: 80%;
}


.feature-skills{
    padding-left: 0;
}


.skills{
    align-self: center;
    margin: auto;
    font-size: 100%;
}

.skills-section{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    border-bottom: solid 1px #eeeeee;
}

.skills-section h2{
    font-family: 'Source Sans Pro', sans-serif;
}


.feature-skills i{
    background-color: #ff1a1a; 
    border-radius: 100%;
    color: white;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    position: relative;
    text-align: center;
    margin-right: 10px;
}


/*bigger screen*/

@media(min-width: 576px){

.feature-skills li{
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1.6875em;
    margin-left: 0.625em;
    position: relative;
    vertical-align: top;
    width: 48%;
    }
    
#about-me{
    padding-left: 0;
    padding-right: 40px;
    }
    
    
.info nav li{
    height: 5.35em;
    line-height: 5.885em;
    width: 5.35em;
    }
    

.intro{
    position: relative;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    }
    
.info h1{
    font-size: 4.35em;
    }

.person-desc h2{
    font-size: 3.7rem;
    margin-bottom: 60px;
}


.person-desc p{
    font-size: 23px;
}


.skills-section h2{
    font-size: 3.7rem;
    margin-bottom: 30px;
}

.skills-section{
    padding-top: 70px;
    padding-bottom: 50px;
}

.skills-section p{
    margin-bottom: 3rem;
    font-size: 23px;
}

.recent-w{
    font-size: 3.7rem;
    margin-top: 70px;
}

.projects{
    padding-top: 69px;
}

.project3{
    border-bottom: 2px solid #eeeeee;
}

.projects h2{
    letter-spacing: 0.075em;
    font-size: 3rem;
}


.pro-desc{
    text-align: justify;
    font-size: larger;
}

.project-img{
    margin: 2.5rem 0;
}

.contact-info section{
    padding: 20px 23px;
}

.project2{
    border-top: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.form-footer{
    margin-bottom: 50px;
}

}

@media(max-width: 575px){
    .feature-skills li{
        margin-bottom: 1.6875em;
    }
    
    .info nav li{
    height: 5em;
    line-height: 5em;
    width: 5em;
    }
    
    .intro{
    position: absolute;
    /*text-align: center;*/
    top: 30%;
   }
    
    .info h1{
    font-size: 3.35em;
    }
    
    
    .person-desc h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    }

    .person-desc p{
        font-size: 20px;
    }
    
    .skills-section h2{
    font-size: 3rem;
    margin-bottom: 15px;
    }
    
    .skills-section{
    padding-top: 30px;
    padding-bottom: 30px;
    }
    
    .skills-section p{
    margin-bottom: 2rem;
    font-size: 20px;
    }
    
    .feature-skills{
    font-size: 20px;
    }
    
    .recent-w{
    font-size: 3rem;
    margin-top: 30px;
    text-align: center;
    }
    
    .projects{
    padding-top: 30px;
    }
    

    .projects h2{
    letter-spacing: 0.07em;
    font-size: 2rem;
    margin-top: 12px;
    }
    
    .pro-desc{
    text-align: left;
    font-size: large;
    }
    
    .project-img{
    margin: 2rem 0;
    }
    
    .button{
        margin-bottom: 10px;
    }
    
    .message-sec{
    margin-bottom: 30px;
    }
    
    .contact-info section{
    padding: 20px 7px;
    }
    
    .project2{
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    }
    
    .form-footer{
    margin-bottom: 15px;
    }
}

.button{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #212931;
    color: black;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button:hover {
    box-shadow: inset 0 0 0 2px #18bfef;
    color: #18bfef !important;
    text-decoration: none;
}


.projects{
    padding-bottom: 70px;
    border-bottom: solid 1px #eeeeee;
}

.projects div{
    padding: 15px 20px;
}


.project1{
    border: 2px solid #eeeeee;
    justify-content: center;
    }



.project3{
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
}


.project4{
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}


.content-cent{
    text-align: center;
}


.tech{
    margin-bottom: 2rem;
    text-align: left;
    font-size: large;
}


.recent-w{
    font-family: 'Source Sans Pro', sans-serif;
}

.projects h2{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 900;
}

.tech-used{
    background-color: #f1f8ff;
    border-radius: 3px;
    display: inline-block;
    margin-right: .5em;
    padding: .3em .9em;
    white-space: nowrap;
    color: #0366d6;
    font-size: 14px;
}

.project-img:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.project-img{
    width: 100%;
    overflow: hidden;
    display: block;
}

.image{
    border-bottom: solid 1px #eeeeee;
}

.form-footer{
    background-color: #f5f5f5;
    padding-top: 33px;
    padding-bottom: 33px;
    margin-top: 70px;
    line-height: 1.5;
}


.message-sec{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #909498;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}


.send-button{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #717981;
    color: #717981 !important;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.send-button:hover{
    box-shadow: inset 0 0 0 2px #18bfef;
    color: #18bfef !important;
}


.contact-info{
    border-left: solid 2px #e2e2e2;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    letter-spacing: 0.075em;
    line-height: 1.5;
}


.contact-info section{
    border-bottom: solid 2px #e2e2e2;
}

.contact-info h3{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8rem;
    color: #909498;
    width: 10rem;
}

.contact-info p{
    display: inline-block;
    color: #717981;
}

.contact-info a {
    color: #717981;
}

.details{
    border-bottom-color: rgba(113, 121, 129, 0.5);
    border-bottom: 1px dotted;
}

.contact-info a:hover{
    text-decoration: none;
    color: #18bfef !important;
}

.contact-social{
    text-decoration: none;
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 100%;
    border: 1px solid;
    margin-right: 20px;
    display: inline-block;
}

.social-p{
    margin-bottom: 0;
}