
body{
    /*line-height: 1;*/
    /*-webkit-text-size-adjust: none;*/
    overflow-x: hidden;
}


html{
    scroll-behavior: smooth;
}


html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/**, ::after, ::before {*/
/*    box-sizing: border-box;*/
/*}*/


.wrap nav{
    display: block;
}


.backg{
    background-size: 2250px auto;
    width: 6750px;
}

.backg{
     animation-duration: 70s;
     animation-timing-function: linear;
     animation-delay: 0s;
     animation-iteration-count: infinite;
     animation-direction: normal;
     animation-fill-mode: none;
     animation-play-state: running;
     animation-name: backg;
     backface-visibility: hidden;
     transform: translate3d(0,0,0);
     background: url(images/background-img.jpg) bottom left;
     background-repeat: repeat-x;
     height: 100%;
     left: 0;
     opacity: 1;
     position: absolute;
     top: 0;
}

@-webkit-keyframes backg{
    0%{
        transform: translate3d(0,0,0);
    }
    
    100%{
        transform: translate3d(-2250px,0,0);
    }
}

.wrap{
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: wrap;
    height: 100%;
    min-height: 100%;
    opacity: 0;
    position: relative;
}

@-webkit-keyframes wrap{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

.vector{
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: vector;
    background-image: url(images/colorvec.jpg);
    background-repeat: repeat, no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    position: absolute;
}

@-webkit-keyframes vector{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 0.6;
    }
}


.intro{
    width: 100%;
    position: relative;
    text-align: center;
    
    /*just incorporated*/
    top: 40%;
    transform: translateY(-50%);
    
    /*animation*/
    
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 2.25s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: intro;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    cursor: default;
    opacity: 0;
}


@-webkit-keyframes intro{
    0%{
        transform: translate3d(0,1em,0);
        opacity: 0;
    }
    
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}


/*.intro:before{*/
/*    content: '';*/
/*    display: inline-block;*/
/*    height: 100%;*/
/*    margin-right: 0;*/
/*    vertical-align: middle;*/
/*    width: 1px;*/
/*}*/

.info{
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 2.29s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: info;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    cursor: default;
    display: inline-block;
    opacity: 0;
    position: relative;
    text-align: center;
    top: -1em;
    vertical-align: middle;
    width: 90%;
}

@-webkit-keyframes info{
    0%{
        transform: translate3d(0,1em,0);
        opacity: 0;
    }
    
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.info h1{
    font-size: 4.35em;
    font-weight: 900;
    letter-spacing: -0.035em;
    line-height: 1em;
}

.info p{
    font-size: 1.5em;
    margin: 0.75em 0 0.25em 0;
    opacity: 0.75;
}

.info nav{
    margin: 1.5em 0 0 0;
}

ul{
    list-style: none;
}

.info nav li:nth-child(1){
    animation-delay: 2.5s;
}

.info nav li:nth-child(2){
    animation-delay: 2.75s;
}

.info nav li:nth-child(3){
    animation-delay: 3s;
}


.info nav li{
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: icons;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    display: inline-block;
    height: 5.35em;
    line-height: 5.885em;
    opacity: 0;
    position: relative;
    top: 0;
    width: 5.35em;
}

@-webkit-keyframes icons{
    0%{
        transform: translate3d(0,1em,0);
        opacity: 0;
    }
    
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.info nav a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border:0;
    display: inline-block;
    text-decoration: none;
}

.info nav ul{
    padding-top: 1px;
    padding-left: 0;
}


.info nav a:before{
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px #fff;
    display: block;
    font-size: 1.75em;
    height: 2.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2.5em;
}

.info nav i:hover{
    font-size: 2.2em;
    border-color: transparent;
    text-decoration: none;
    color: #737373;
}

.icon:hover{
    color: #4d4d4d;
}

/*.info nav a:hover:before{*/
/*    background-color: rgba(255,255,255,0.175);*/
/*    color: #fff;*/
/*}*/

/*.info nav a:active{*/
/*    font-size: 0.95em;*/
/*    background: none;*/
/*}*/

/*.info nav a:active:before{*/
/*    background-color: rgba(255,255,255,0.35);*/
/*    color: #fff;*/
/*}*/

.info nav i {
    font-size: 1.7em;
}



.icon{
    text-decoration: none;
    position: relative;
    color: #4d4d4d;
}


/*checkout this one*/
/*.icon:before {*/ 
/*    -moz-osx-font-smoothing: grayscale;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    text-transform: none !important;*/
/*}*/


/*.wrap footer{*/
/*    display: block;*/
/*}*/


/*.intro footer{*/
.wrap footer{
    transition-property: opacity, transform;
    transition-duration: 2s, 1s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 1.25s;
    margin: 0;
    width: 90%;
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 5%;
    bottom: 0;
}

/*.intro footer:after{*/
.wrap footer:after{
    content: '';
    display: block;
    position: relative;
    bottom: inherit;
    left: 50%;
    height: 3em;
    border-left: solid 2px #e5e6e7;
}

.to-personal{
    transition-property: background-color, color;
    transition-duration: 0.35s, 0.35s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    border: solid 2px #e5e6e7;
    border-radius: 100%;
    background-color: transparent;
    width: 4em;
    height: 4em;
    line-height: 4.5em;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: #e5e6e7;
}

.to-personal:hover {
    background-color: rgba(255, 255, 255, 0.177);
    color: #4d4d4d;
}


/*#about-me{*/
    /*height: 100%;*/
    /*min-height: 100%;*/
/*    padding-left: 0;*/
/*    padding-right: 40px;*/
/*}*/

.person-desc{
    align-self: center;
    margin: auto;
    font-size: 100%;
}

.person-desc h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.7rem;
    margin-bottom: 60px;
}
 
.person-desc p{
    font-family: 'Merriweather', serif;
    font-size: 23px;
}

.profile-info{
    border-bottom: solid 1px #eeeeee;
    height: 80%;
}

/*.profile-image{*/
    /*align-self: center;*/
    /*margin: auto;*/
/*    padding-left: 0;*/
/*}*/

/*.feature-skills{*/
/*    list-style: none;*/
/*    padding-left: 0;*/
/*    margin: 0 0 2.25em 0;*/
/*}*/

.skills{
    align-self: center;
    margin: auto;
    font-size: 100%;
}

.skills-section{
    padding-top: 69px;
    padding-bottom: 50px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    border-bottom: solid 1px #eeeeee;
}

.skills-section h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.7rem;
    margin-bottom: 30px;
}

.skills-section p{
    margin-bottom: 3rem;
    font-size: 23px;
}

.feature-skills i{
    background-color: #ff1a1a; 
    border-radius: 100%;
    color: white;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    position: relative;
    text-align: center;
    margin-right: 10px;
}


@media(min-width: 576px){

.feature-skills li{
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1.6875em;
    margin-left: 0.625em;
    position: relative;
    vertical-align: top;
    width: 48%;
    }
    
#about-me{
    padding-left: 0;
    padding-right: 40px;
    }
    
}

@media(max-width: 575px){
    .feature-skills li{
        margin-bottom: 1.6875em;
    }
}

.button{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #212931;
    color: black;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button:hover {
    box-shadow: inset 0 0 0 2px #18bfef;
    color: #18bfef !important;
    text-decoration: none;
}

.projects div{
    padding-top: 15px;
    padding-bottom: 15px;
}

.project1{
    border: 2px solid #eeeeee;
    justify-content: center;
}

.project2{
    border-top: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.project3{
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}


.project4{
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}


.content-cent{
    text-align: center;
}

.pro-desc{
    text-align: left;
}

/*.upcom-cnt{*/
    /*height: auto;*/
    /*text-align: center;*/
/*}*/

